.summary__container {
    @include flex-container(column, flex-start, flex-start, 2.4rem);

    width: 100%;
    background-color: $magnolia;
    border-radius: 0.5rem;

    .recap {
        width: 100%;
    }

    .total {
        @include flex-container();

        width: 100%;
        background-color: $white;
    }
}
