.container {
    @include width-and-height(27.4rem, 100%);
    @include flex-container(column, flex-start, flex-start, 2rem);

    padding: 3.2rem 2.8rem;

    background: url(../../../assets/images/bg-sidebar-desktop.svg);
    background-position: bottom;
    border-radius: 1rem;

    .step {
        @include flex-container(row, flex-start, center, 1.2rem);

        .step-number {
            @include width-and-height(3.6rem, 3.6rem);
            @include flex-container();

            border-radius: 50%;
            border: 1px solid $white;
            background-color: transparent;
            transition: all 750ms;
        }

        .step-number__selected {
            background-color: $light-blue;
            border: unset;
        }

        .step-info {
            @include flex-container(column, flex-start, flex-start);
        }

        &:hover {
            cursor: pointer;
        }
    }
}
