.billing-toggle {
    @include flex-container(row, center, center, 2.4rem);

    width: 100%;
    border-radius: 0.5rem;
    background-color: $alabaster;
    padding: 1.2rem 0;

    .toggle {
        @include width-and-height(6rem, 2rem);
        @include flex-container();

        background-color: $marine-blue;
        border-radius: 1.6rem;
        color: white;
    }
}
