.add-on-card {
    @include flex-container(row, space-between);

    width: 100%;
    padding: 2rem;
    border: 1px solid $light_gray;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;

    .checkbox-container {
        @include flex-container(row, center, center, 2.4rem);
    }

    &:hover {
        border: 1px solid $purplish-blue;
        cursor: pointer;
    }
}
