@mixin width-and-height($width: none, $height: none) {
    @if $width != none {
        width: $width;
    }

    @if $height != none {
        height: $height;
    }
}

@mixin flex-container(
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 0rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
